.lede { padding: 120px 0 30px; background: #a7d9dd url(../images/skyscape.png) bottom repeat-x; }
.lede .container { padding-bottom: 120px; }
.lede h1 { font: 100px/90px 'BrandonGrotesque-Black', 'Helvetica Neue', Helvetica, Arial; color: #665; max-width: 540px; text-transform: uppercase; margin: 0; }
.subhead { font: 104px/90px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial; color: #fff; max-width: 540px; text-transform: uppercase; }
.lede h2 { font: 24px/36px 'Merriweather', Georgia, serif; color: #665; margin: 20px 0 40px 0; max-width: 540px; }
.lede .btn-primary { width: 240px; padding: 20px 0; line-height: 75px; background-color: #f72; border: none; font: 24px BrandonGrotesque-Black, 'Helvetica Neue', Helvetica, Arial; text-shadow: 0 1px 0 #f1c4bf; color: #332; letter-spacing: .05em; text-transform: uppercase;}

/*.content .row { margin-top: 60px; padding-top: 20px; border-top: 1px dashed #5a94a2; } */
.details { margin: 0 0 30px; padding-bottom: 20px; border-bottom: 1px dashed #5a94a2;}
.details .col-md-4 h3 { font: 16px/18px 'BrandonGrotesque-Black', 'Helvetica Neue', Helvetica, Arial; color: #5a94a2; text-transform: uppercase; margin: 0 0 20px; letter-spacing: .08em; }
.details .col-md-4 p { color: #554; font: 16px/24px 'Merriweather', Georgia, serif; margin-bottom: 45px; }
.content { padding-bottom: 120px; }
.content h3 { font: italic 18px/45px 'Merriweather', Georgia, serif; margin: 60px 0 15px 20px; padding: 0 20px 0 0; }
.content  p { font: 20px/30px 'Merriweather', Georgia, serif; color: #899; margin: 0 0 15px 20px; padding: 0 20px 0 0; }
.content ol li { font: 20px/30px 'Merriweather', Georgia, serif; color: #899; margin: 0 0 15px 20px;  }
.content ol li em { color: #211e1f; font-style: normal; }
.content a { color: #f72; border-bottom: 1px dotted #f72; }
.content a:hover { text-decoration: none; color: #d42; }

/* Device-specific styles */
@media screen and (max-width: 768px) {
    .lede h1, .subhead { font-size: 68px; line-height: 60px; }
    .content  p, .content ol li { font: 16px/24px 'Merriweather', Georgia, serif; }

}
 
