.lede { padding: 120px 0 30px; background: #a2dce7 url(../images/skyscape.png) bottom repeat-x; }
.lede .container { padding-bottom: 120px; }
.lede h1 { font: 100px/84px 'BrandonGrotesque-Black', 'Helvetica Neue Bold', Helvetica, Arial; color: #555; max-width: 540px; text-transform: uppercase; margin: 0; }
.subhead { font: 68px/60px 'Capriola', 'Helvetica Neue', Helvetica, Arial; color: #fff; max-width: 540px; text-transform: uppercase; }
.lede h2 { font: 20px/30px 'Merriweather', Georgia, serif; color: #665; margin: 40px 0; max-width: 540px; }
.lede .btn-primary { width: 240px; padding: 20px 0; line-height: 75px; background-color: #f66; border: none; font: 24px BrandonGrotesque-Black, 'Helvetica Neue', Helvetica, Arial; text-shadow: 0 1px 0 #f1c4bf; color: #332; letter-spacing: .05em; text-transform: uppercase; margin-top: 4px; }

/*.content .row { margin-top: 60px; padding-top: 20px; border-top: 1px dashed #5a94a2; } */
.details { margin: 0 0 30px; padding-bottom: 20px; border-bottom: 1px dotted #a2dce7;}
.details .col-md-4 h3 { font: 16px/20px 'BrandonGrotesque-Black', 'Helvetica Neue', Helvetica, Arial; color: #333; text-transform: uppercase; margin: 0 0 20px; letter-spacing: .08em; }
.details .col-md-4 p { color: #554; font: 16px/26px 'Merriweather', Georgia, serif; margin-bottom: 45px; }
.content { padding-bottom: 120px; }
.content h3 { font: 16px/20px 'BrandonGrotesque-Black', 'Helvetica Neue', Helvetica, Arial; color: #333; text-transform: uppercase; letter-spacing: .08em; margin: 120px 0 30px 20px; padding: 0 20px 0 0; }
.content  p { font: 24px/40px 'Merriweather', Georgia, serif; color: #9e8d7b; margin: 0 0 30px 20px; padding: 0 30px 0 0; }
.content ol li { font: 24px/40px 'Merriweather', Georgia, serif; color: #9e8d7b; margin: 0 0 30px 20px;  }
.content ol li em { color: #211e1f; font-style: normal; }
.content a { color: #0be; border-bottom: 1px dotted #f72; }
.content a:hover { text-decoration: none; color: #f72; }
.content .btn-primary { width: 240px; padding: 20px 0; line-height: 75px; background-color: #f66; border: none; font: 24px BrandonGrotesque-Black, 'Helvetica Neue', Helvetica, Arial; text-shadow: 0 1px 0 #f1c4bf; color: #332; letter-spacing: .05em; text-transform: uppercase; margin-top: 4px; }
.content .btn-primary:hover { color: #000; }

/* Device-specific styles */
@media screen and (max-width: 768px) {
    .lede h1 { font: 56px/48px 'BrandonGrotesque-Black', 'Helvetica Neue Bold', Helvetica, Arial; }
    .lede .subhead { font: 36px/30px 'Capriola', 'Helvetica Neue', Helvetica, Arial; }
    .lede h2 { font: 20px/28px 'Merriweather', Georgia, serif;}
    .content  p, .content ol li { font: 16px/24px 'Merriweather', Georgia, serif; }

}
